In [1]:
import json
import pandas as pd
from datetime import datetime
start_time=datetime.now()

In [2]:
with open('stage1.json') as f:
    data=json.load(f)

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head()

,id,id_str,full_text,source,source_url,retweet_count,favorite_count,lang,quoted_status_id,quoted_status_id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name
0,1465948889761173507,1465948889761173507,EXPLOSIVE—We now learn Trump had tested positi...,Twitter for iPhone,http://twitter.com/download/iphone,5273,11800,en,NaN,None,NaN,None,NaN,None,None
1,1466046988500230146,1466046988500230146,So we now learn that this wise guy who mocked ...,Twitter for iPhone,http://twitter.com/download/iphone,1964,6256,en,NaN,None,NaN,None,NaN,None,None
2,1466089777938280452,1466089777938280452,"#COVID19 UPDATE: A total of 51,977 tests were ...",Hootsuite Inc.,https://www.hootsuite.com,593,624,en,NaN,None,NaN,None,NaN,None,None
3,1466385507298983942,1466385507298983942,RT @LLopezGonzalez: 1/2 What does early South ...,Twitter Web App,https://mobile.twitter.com,44,0,en,NaN,None,NaN,None,NaN,None,None
4,1466385504690008070,1466385504690008070,RT @TajinderSTS: #LargestVaccineDrive achieves...,Twitter for Android,http://twitter.com/download/android,41,0,en,NaN,None,NaN,None,NaN,None,None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         100 non-null    int64
 1   id_str                     100 non-null    object
 2   full_text                  100 non-null    object
 3   source                     100 non-null    object
 4   source_url                 100 non-null    object
 5   retweet_count              100 non-null    int64
 6   favorite_count             100 non-null    int64
 7   lang                       100 non-null    object
 8   quoted_status_id           9 non-null      float64
 9   quoted_status_id_str       9 non-null      object
 10  in_reply_to_status_id      5 non-null      float64
 11  in_reply_to_status_id_str  5 non-null      object
 12  in_reply_to_user_id        5 non-null      float64
 13  in_reply_to_user_id_str    5 non-null      object
 14  in_reply_to_screen_name    5 non-null      object
dtypes: float64(3), int64(3), object(9)
memory usage: 12.5+ KB

In [6]:
df.columns

Index(['id', 'id_str', 'full_text', 'source', 'source_url', 'retweet_count',
       'favorite_count', 'lang', 'quoted_status_id', 'quoted_status_id_str',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name'],
      dtype='object')

In [7]:
#drop columns
df=df.drop(['quoted_status_id','quoted_status_id_str','in_reply_to_status_id','in_reply_to_status_id_str'
         ,'in_reply_to_user_id','in_reply_to_user_id_str','in_reply_to_screen_name'],axis = 1)
df.head()

,id,id_str,full_text,source,source_url,retweet_count,favorite_count,lang
0,1465948889761173507,1465948889761173507,EXPLOSIVE—We now learn Trump had tested positi...,Twitter for iPhone,http://twitter.com/download/iphone,5273,11800,en
1,1466046988500230146,1466046988500230146,So we now learn that this wise guy who mocked ...,Twitter for iPhone,http://twitter.com/download/iphone,1964,6256,en
2,1466089777938280452,1466089777938280452,"#COVID19 UPDATE: A total of 51,977 tests were ...",Hootsuite Inc.,https://www.hootsuite.com,593,624,en
3,1466385507298983942,1466385507298983942,RT @LLopezGonzalez: 1/2 What does early South ...,Twitter Web App,https://mobile.twitter.com,44,0,en
4,1466385504690008070,1466385504690008070,RT @TajinderSTS: #LargestVaccineDrive achieves...,Twitter for Android,http://twitter.com/download/android,41,0,en

In [8]:
#clean_text
import re
import numpy as np
import string
import emoji
def clean_text(text):
    text = str(text).lower()
    text = re.sub(r'@[A-Za-z0-9]+','',text)
    text = re.sub(r'#','',text)
    text = re.sub(r'RT[\s]+','',text)
    text = re.sub(r'rt[\s]+','',text)
    text = re.sub(r'https?:\/\/\S+','',text)
    text = re.sub(r'[0-9]','',text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = emoji.get_emoji_regexp().sub("",text)
    
    return text

In [9]:
df['full_text']=df['full_text'].apply(clean_text)
print(df['full_text'])

0     explosive—we now learn trump had tested positi...
1     so we now learn that this wise guy who mocked ...
2     covid update a total of  tests were conducted ...
3       what does early south african data say about...
4      largestvaccinedrive achieves another mileston...
                            ...
95     point to be noted \nomicron\nomicronvarient\n...
96     trump test positive for covid before debate a...
97      covid deaths in wales have been falling in r...
98     the man lied about having covid while meeting...
99     to date the country has registered  confirmed...
Name: full_text, Length: 100, dtype: object

In [10]:
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')
#exclude stopwords
df['full_text'] = df['full_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop]))
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
df['full_text'].head()

0    explosive—we learn trump tested positive covid...
1    learn wise guy mocked joe biden presidential d...
2    covid update total tests conducted last hrs ne...
3    early south african data say omicron amp reinf...
4    largestvaccinedrive achieves another milestone...
Name: full_text, dtype: object

In [13]:
#lemmatization
w_tokenizer=nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def Lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

df['full_text_lemmatiz']=df['full_text'].apply(Lemmatize_text)

In [14]:
df['full_text_lemmatiz'].head()

0    [explosive—we, learn, trump, tested, positive,...
1    [learn, wise, guy, mocked, joe, biden, preside...
2    [covid, update, total, test, conducted, last, ...
3    [early, south, african, data, say, omicron, am...
4    [largestvaccinedrive, achieves, another, miles...
Name: full_text_lemmatiz, dtype: object

In [15]:
end_time=datetime.now()
print('Duration: {}'.format(end_time-start_time))

Duration: 0:00:51.837075

In [16]:
df.to_json('stage2.json')